<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active" style="font-size: large;"> SIGN UP </h2> <br />
        <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <p>
                <strong  style="font-family: Rockwell;" [ngStyle] = "
                {color: getRegistrationStatusColor()}">{{registrationStatus}}</strong>
            </p> <br />
            <form (ngSubmit) = "onSubmit()" #f="ngForm">
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                    <label for="Firstname"><i class="fa fa-user"></i>&nbsp;&nbsp;Firstname</label>
                        <input type="text" id="firstname" class="form-control"
                        ngModel name="firstName"
                        required
                        #firstname="ngModel"/>
                        <span class="help-block" *ngIf="!firstname.valid && firstname.touched" style="color: red;">
                            <strong> Firstname cannot be empty!</strong></span>
                    </div>
                    <div class="form-group">
                        <label for="Lastname"><i class="fa fa-user"></i>&nbsp;&nbsp;Lastname</label>
                            <input type="text" id="lastname" class="form-control"
                            ngModel name="lastName"
                            required
                            #lastname="ngModel"/>
                            <span class="help-block" *ngIf="!lastname.valid && lastname.touched" style="color: red;">
                                <strong> Lastname cannot be empty!</strong></span>
                    </div>
                    <div class="form-group">
                        <label for="Email"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email</label>
                            <input type="email" id="email" class="form-control"
                            ngModel name="email"
                            required
                            email
                            #email="ngModel"/>
                            <span class="help-block" *ngIf="!email.valid && email.touched" style="color: red;">
                                <strong> Email cannot be empty!</strong></span>
                    </div>
                    <div class="form-group">
                        <label for="Phone Number"><i class="fas fa-phone"></i>&nbsp;&nbsp;Phone Number</label>
                            <input type="text" id="phonenumber" class="form-control"
                            ngModel name="phone"
                            required
                            #phoneno="ngModel"/>
                            <span class="help-block" *ngIf="!phoneno.valid && phoneno.touched" style="color: red;">
                                <strong> Phone Number cannot be empty!</strong></span>
                    </div>
                    <div class="form-group">
                        <label for="AddressLine"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;AddressLine</label>
                            <input type="text" id="addressLine" class="form-control"
                            ngModel name="addressLine">
                    </div>
                    <div class="form-group">
                        <label for="City"><i class="fas fa-university"></i>&nbsp;&nbsp;City</label>
                            <input type="text" id="city" class="form-control"
                            ngModel name="city">
                    </div>
                    <div class="form-group">
                        <label for="State"><i class="fas fa-city"></i>&nbsp;&nbsp;State</label>
                            <input type="text" id="state" class="form-control"
                            ngModel name="state">
                    </div>
                    <div class="form-group">
                        <label for="Zip Code">zipcode</label>
                            <input type="text" id="zipcode" class="form-control"
                            ngModel name="zip">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fa fa-key"></i>&nbsp;&nbsp;Password</label>
                            <input type="password" id="password" class="form-control"
                            ngModel name="encryptedPassword"
                            required
                            #password="ngModel"/>
                            <span class="help-block" *ngIf="!password.valid && password.touched" style="color: red;">
                                <strong> Password cannot be empty!</strong></span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register"
                    [disabled] = "!f.valid"> <br />
                    <small class="form-text text-muted">Don't worry we won't share this data anywhere. We will keep it confidential</small>
                    <!-- <button class="btn btn-primary" type="submit">Register</button> <br /> -->
                </div>
            </form>
        </div>
        </div>
    </div>
</div>