<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active" style="font-size: large;"> Edit Your Profile </h2> <br />
        <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="updateForms" (ngSubmit)="onSubmit()">
                <!-- <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup"> -->
                    <div class="form-group">
                    <label for="Firstname"><i class="fa fa-user"></i>&nbsp;&nbsp;First Name</label>
                        <input type="text" id="firstname" 
                        formControlName="firstname" class="form-control">
                        <!-- ngModel name="firstName"> -->
                    </div>
                    <div class="form-group">
                        <label for="Lastname"><i class="fa fa-user"></i>&nbsp;&nbsp;Last Name</label>
                            <input type="text" id="lastname" 
                            formControlName="lastname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Phone Number"><i class="fas fa-phone"></i>&nbsp;&nbsp;Phone Number</label>
                            <input type="text" id="phonenumber" 
                            formControlName="phonenumber" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="AddressLine"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Address Line</label>
                            <input type="text" id="addressLine" 
                            formControlName="addressLine" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="City"><i class="fas fa-university"></i>&nbsp;&nbsp;City</label>
                            <input type="text" id="city" 
                            formControlName="city" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="State"><i class="fas fa-city"></i>&nbsp;&nbsp;State</label>
                            <input type="text" id="state" 
                            formControlName="state" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Zip Code">Zipcode</label>
                            <input type="text" id="zipcode" 
                            formControlName="zipcode" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fa fa-key"></i>&nbsp;&nbsp;Password</label>
                            <input type="password" id="password" 
                            formControlName="password" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Edit Profile"> <br />
                    <small class="form-text text-muted">Don't worry we won't share this data anywhere. We will keep it confidential</small>
                <!-- </div> -->
            </form>
        </div>
        </div>
    </div>
</div>