<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://s.marketwatch.com/public/resources/images/MW-HD113_Amazon_ZH_20190131200130.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>My Caption Title (1st Image)</h5>
                <p>The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
       
 
</div> -->
<app-announcement></app-announcement>
<!-- <div class="section">
  <div class="container">
    <div class="row">
      <div id="aside" class="col-md-3">
      </div>
      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <div id="store">
                <div class="row">
                  <div class="product" *ngFor="let productDetails of listOfAllProducts">
                      <div class="product-img">
                        <img src="{{productDetails.productImageLink}}" alt="">
                        <div class="product-label">
                          <span class="new">NEW</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <p class="product-category">{{productDetails.category}}</p>
                        <h3 class="product-name">{{productDetails.productName}}</h3>
                        <h4 class="product-price">{{productDetails.price|currency:'Rs. '}} <del
                            class="product-old-price">$990.00</del></h4>
                        <div class="product-btns">
                          <button class="quick-view" (click)="goToDetailsPage(productDetails._id)"><i
                              class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                      </div>
                      <div class="add-to-cart">
                        <button class="add-to-cart-btn" [disabled]="!productDetails.InStock"
                          (click)="addToCart(productDetails)"><i class="fa fa-shopping-cart"></i> add to cart</button>
                      </div>
                    </div>
                  <div class="clearfix visible-sm visible-xs"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="section">
<div class="wrapper fadeInDown">
  <div class="container">
    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let productDetails of listOfAllProducts">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="product">
            <div class="product-body">
              <div class="row">
                <div class="col-12">

                  <div class="product-img">
                    <img class="img-fluid" src="{{productDetails.productImageLink}}"
                      style="height: 250px; width: 250px;"/>
                      <div class="product-label">
                        <span class="new" *ngIf="!productDetails.InStock">OUT OF STOCK</span>
                      </div>
                  </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-12">
                  <span class="product-name"><strong>{{productDetails.productName}}</strong></span>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <span class="product-category">Type: {{productDetails.category}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span class="product-price">{{productDetails.price|currency:'Rs. '}}</span>
                </div>
              </div>
              <div class="row">
                <div class="product-btns">
                  <button class="quick-view" (click)="goToDetailsPage(productDetails._id)"><i
                    class="fa fa-eye"></i><span class="tooltipp">VIEW MORE DETAILS</span></button>
                </div>
              </div>
              <br /> <br />
              <div class="product">
                <div class="add-to-cart">
                  <br />
                  <span><button class="add-to-cart-btn" [disabled]="!productDetails.InStock"
                      (click)="addToCart(productDetails)">
                      <i class="fa fa-shopping-cart"></i> add to cart</button></span>
                </div>
              </div>
            </div>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
